<div class="gantt">
  <div class="divided-column" [style.width.%]="dividerPosition - dividerSize">
    <div class="table-responsive text-nowrap ">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Resource</th>
            <th scope="col">Start</th>
            <th scope="col">Finish</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks; let i = index" (click)="taskClicked(i, task)">
            <td>
              <i *ngIf="task.children && !task.expanded" class="material-icons">add_box</i>
              <i *ngIf="task.children && task.expanded" class="material-icons">indeterminate_check_box</i>
            </td>
            <th scope="row">
              {{ task.Name }}
            </th>
            <td>
              {{ task.Resource }}
            </td>
            <td>
              {{ task.Start | date: 'dd/MM/yyyy HH:mm' }}
            </td>
            <td>
              {{ task.Finish | date: 'dd/MM/yyyy HH:mm' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="divider" [style.width.%]="dividerSize"></div>
  <div class="divided-column" [style.width.%]="100 - dividerPosition">
    <div>
      dates
    </div>
  </div>
</div>
